<div class="title">
    <h1>Recuperar contraseña</h1>
    <div class="line">
    </div>
</div>
<div class="custom-form">
    <form (ngSubmit)="RecoveryForm.valid && sendNotificacion(RecoveryForm.value)" [formGroup]="RecoveryForm">
        <label>Nombre de usuario: </label>
            <mat-form-field appearance="outline">
                <input matInput type="text" maxlength="300" formControlName="UserName" >
                <mat-hint align="start"><strong>Caracteres</strong> </mat-hint>
                <mat-hint align="end">{{RecoveryForm.value['UserName'].length}} / 300</mat-hint>
                <mat-error>
                    Es requerido un <strong>Nickname</strong>
                </mat-error>
            </mat-form-field>
        <br>
        <button mat-raised-button color="primary" type="submit">Send</button>
    </form>
</div>