<div class="container">
  <br>
    <div class="row">
        <h1>Asignación de agentes educativos</h1> 
        <div class="line"></div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm">
        <mat-form-field>
            <mat-label>Buscar asignación</mat-label>
            <input #tableFilter (keyup)="applyFilter(tableFilter.value)" matInput placeholder="" />
        </mat-form-field>
      </div>
      <div class="col-sm" style="text-align: right;">
        <button mat-raised-button color="primary" [routerLink]="['/EducationalAgents/EducationalAgentsCreate']">Asignar sala</button>
      </div>
    </div>
    <div class="row">
        <div class="mat-elevation-z8">
            <table #table mat-table [dataSource]="dataSource" class="mat-e">
                <ng-container matColumnDef="TrainingCenterName">
                  <th mat-header-cell *matHeaderCellDef> Centro </th>
                  <td mat-cell *matCellDef="let element"> {{element.trainingCenterName}} </td>
                </ng-container>
                <ng-container matColumnDef="CampusName">
                    <th mat-header-cell *matHeaderCellDef> Sede </th>
                    <td mat-cell *matCellDef="let element"> {{element.campusName}} </td>
                </ng-container>
                <ng-container matColumnDef="DevelopmentRoomName">
                    <th mat-header-cell *matHeaderCellDef> Sala </th>
                    <td mat-cell *matCellDef="let element"> {{element.developmentRoomName}} </td>
                  </ng-container>
                  <ng-container matColumnDef="GroupCode">
                      <th mat-header-cell *matHeaderCellDef> Código </th>
                      <td mat-cell *matCellDef="let element"> {{element.groupCode}} </td>
                  </ng-container>
                  <ng-container matColumnDef="GroupName">
                    <th mat-header-cell *matHeaderCellDef> Grupo </th>
                    <td mat-cell *matCellDef="let element"> {{element.groupName}} </td>
                  </ng-container>
                  <ng-container matColumnDef="Year">
                      <th mat-header-cell *matHeaderCellDef> Año </th>
                      <td mat-cell *matCellDef="let element"> {{element.year}} </td>
                  </ng-container>
                  <ng-container matColumnDef="EducationalAgentName">
                    <th mat-header-cell *matHeaderCellDef > Agente asignado </th>
                    <td mat-cell *matCellDef="let element" style="white-space: pre-line">{{formatAgents(element.agents)}}</td>
                </ng-container>
                <ng-container matColumnDef="actions">
                  <th mat-header-cell style="text-align: right" *matHeaderCellDef>Acciones</th>
                  <td mat-cell style="text-align: right" *matCellDef="let element">
                    <button mat-icon-button color="primary" [routerLink]="['EducationalAgentsUpdate',element.developmentRoomId,element.year]">
                      <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="onDelete(element.id)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <br>
            <mat-paginator #paginator
                         [pageSize]="5"
                         [pageSizeOptions]="[5, 10, 15, 20]"
                         [showFirstLastButtons]="true">
            </mat-paginator>
        </div>        
    </div>
</div>
