<div class="container pageContainer">
  <br />
  <div class="row">
    <h1>Carga de archivos</h1>
    <div class="line"></div>
  </div>
  <br />
  <div class="row">
      <h2>Recomendaciones del archivo a cargar:</h2>
      <ul>
          <li>Descargue previamente el archivo predeterminado.</li>
          <li>No afecte de ninguna manera la estructura del archivo, de lo contrario provocará un error.</li>
          <li>Suba el archivo con la información diligenciada.</li>
          <li>Seleccione el boton "Cargar".</li>
      </ul>
  </div>
  <br />
  <div class="row">
    <p></p>
    <mat-card-actions style="display: flex; align-items: center;">
      <button mat-raised-button color="accent" style="margin-right: 0.5rem;" (click)="exportTable()">Descargar archivo</button>
      <input type="file" (change)="loadFile($event)" #fileInput hidden>
      <button mat-raised-button color="accent" (click)="fileInput.click()">Cargar archivo</button>
      <div style="border: 1px solid gray; margin-left: 0.5rem; width: 20rem; height: 1.5rem;">
        {{ fileName }}
      </div>
    </mat-card-actions>
    <p></p>
    <mat-card-actions>
        <button mat-raised-button color="primary" style="margin-right: 0.5rem;" (click)="uploadFile()">Cargar</button>
        <button mat-raised-button class="lightBlue-bkg" [routerLink]="['/UsersList']">Cancelar</button>
    </mat-card-actions>
    <table mat-table style="display:none" [dataSource]="dataSource" matTableExporter>
      <ng-container matColumnDef="UserName">
          <th mat-header-cell *matHeaderCellDef> Nombre de usuario </th>
      </ng-container>
      <ng-container matColumnDef="Email">
          <th mat-header-cell *matHeaderCellDef> Correo </th>
      </ng-container>
      <ng-container matColumnDef="DocumentTypeId">
          <th mat-header-cell *matHeaderCellDef> Tipo de documento </th>
      </ng-container>
      <ng-container matColumnDef="DocumentNo">
          <th mat-header-cell *matHeaderCellDef> Nro. de documento </th>
      </ng-container>
      <ng-container matColumnDef="FirstName">
        <th mat-header-cell *matHeaderCellDef> Primer nombre </th>
      </ng-container>
      <ng-container matColumnDef="OtherNames">
        <th mat-header-cell *matHeaderCellDef> Otros nombres </th>
      </ng-container>
      <ng-container matColumnDef="LastName">
        <th mat-header-cell *matHeaderCellDef> Apellido </th>
      </ng-container>
      <ng-container matColumnDef="OtherLastName">
        <th mat-header-cell *matHeaderCellDef> Otros Apellidos</th>
      </ng-container>
      <!-- <ng-container matColumnDef="GlobalUser">
        <th mat-header-cell *matHeaderCellDef> Usuario global</th>
      </ng-container> -->
      <ng-container matColumnDef="Phone">
        <th mat-header-cell *matHeaderCellDef> Teléfono </th>
      </ng-container>
      <ng-container matColumnDef="RolsId">
        <th mat-header-cell *matHeaderCellDef> Rol </th>
      </ng-container>
      <ng-container matColumnDef="TrainingCenterId">
        <th mat-header-cell *matHeaderCellDef> Centro de formación </th>
      </ng-container>
      <ng-container matColumnDef="CampusId">
        <th mat-header-cell *matHeaderCellDef> Sede </th>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
</div>
