<div class="container">
    <div class="row">
        <mat-stepper [linear]="isLinear" #stepper>
            <mat-step [stepControl]="GeneralInformationFormGroup">
                <form [formGroup]="GeneralInformationFormGroup">
                    <ng-template matStepLabel>Información general</ng-template>
                    <mat-card>
                        <mat-card-header></mat-card-header>
                        <mat-card-content style="padding: 10px;">
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="full-width">
                                        <mat-select placeholder="Tipo de documento" formControlName="DocumentTypeId">
                                            <mat-option *ngFor="let dt of documentTypeList" [value]="dt.id">
                                                {{dt.name}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error>
                                            Este campo es <strong>obligatorio</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="full-width">
                                        <input matInput placeholder="Nro. Documento" name="DocumentNumber" formControlName="DocumentNumber">
                                        <mat-error>
                                            Este campo es <strong>obligatorio</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <mat-form-field class="full-width">
                                        <input matInput placeholder="Primer nombre" name="FirstName" formControlName="FirstName">
                                        <mat-error>
                                            Este campo es <strong>obligatorio</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="full-width">
                                        <input matInput placeholder="Otros nombres" name="OtherNames" formControlName="OtherNames">
                                        <mat-error>
                                            Este campo es <strong>obligatorio</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="full-width">
                                        <input matInput placeholder="Apellido" formControlName="LastName" name="LastName">
                                        <mat-error>
                                            Este campo es <strong>obligatorio</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="full-width">
                                        <input matInput placeholder="Otros apellidos" formControlName="OtherLastName" name="OtherLastName">
                                        <mat-error>
                                            Este campo es <strong>obligatorio</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <mat-form-field class="full-width">
                                        <mat-select placeholder="Sexo" formControlName="Gender">
                                            <mat-option *ngFor="let g of genderList" [value]="g.id">
                                                {{g.paramValue}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error>
                                            Este campo es <strong>obligatorio</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-5">
                                    <mat-form-field class="full-width">
                                        <input matInput [matDatepicker]="picker" formControlName="BirthDate" placeholder="Fecha de nacimiento">
                                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-hint>MM/DD/YYYY</mat-hint>
                                        <mat-datepicker #picker></mat-datepicker>
                                        <mat-error>
                                            Este campo es <strong>obligatorio</strong>
                                        </mat-error>
                                      </mat-form-field>
                                </div>  
                                <div class="col-md-2">
                                    <mat-form-field class="full-width">
                                        <mat-select placeholder="Grupo sanguineo" formControlName="BloodType">
                                            <mat-option *ngFor="let bt of bloodTypeList" [value]="bt.id">
                                                {{bt.paramValue}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error>
                                            Este campo es <strong>obligatorio</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field class="full-width">
                                        <mat-select placeholder="RH" formControlName="RH">
                                            <mat-option *ngFor="let rh of rhList" [value]="rh.id">
                                                {{rh.paramValue}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error>
                                            Este campo es <strong>obligatorio</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>  
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="full-width">
                                        <mat-select placeholder="País de nacimiento" (selectionChange)="CountrySelected($event)" formControlName="BirthCountryId">
                                            <mat-option *ngFor="let c of countryList" [value]="c.id">
                                                {{c.name}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error>
                                            Este campo es <strong>obligatorio</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="full-width">
                                        <mat-select placeholder="Departamento de nacimiento" (selectionChange)="DepartamentSelected($event)" formControlName="BirthDepartmentId">
                                            <mat-option *ngFor="let d of departmentList" [value]="d.id">
                                                {{d.name}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error>
                                            Este campo es <strong>obligatorio</strong>
                                        </mat-error>    
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="full-width">
                                        <mat-select placeholder="Municipio de nacimiento" formControlName="BirthCityId">
                                            <mat-option *ngFor="let c of cityList" [value]="c.id">
                                                {{c.name}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error>
                                            Este campo es <strong>obligatorio</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-raised-button color="primary" matStepperNext >Siguiente</button>
                        </mat-card-actions>
                    </mat-card>
                </form>
              </mat-step>
              <mat-step [stepControl]="HomeFormGroup">
                <form [formGroup]="HomeFormGroup">
                    <ng-template matStepLabel>Información de residencia</ng-template>
                    <mat-card>
                        <mat-card-header></mat-card-header>
                        <mat-card-content style="padding: 10px;">
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="full-width">
                                        <mat-select placeholder="Zona" formControlName="Zone">
                                            <mat-option *ngFor="let c of zoneList" [value]="c.id">
                                                {{c.paramValue}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error>
                                            Este campo es <strong>obligatorio</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-8">
                                    <mat-form-field class="full-width">
                                        <input matInput placeholder="Dirección" name="Address" formControlName="Address">
                                        <mat-error>
                                            Este campo es <strong>obligatorio</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="full-width">
                                        <input matInput placeholder="Barrio" name="Neighborhood" formControlName="Neighborhood">
                                        <mat-error>
                                            Este campo es <strong>obligatorio</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-8">
                                    <mat-form-field class="full-width">
                                        <textarea matInput placeholder="Observaciones" 
                                            name="Observations" formControlName="Observations"></textarea>
                                        <mat-error>
                                            Este campo es <strong>obligatorio</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="full-width">
                                        <input matInput placeholder="Teléfono" name="PhoneNumber" formControlName="PhoneNumber">
                                        <mat-error>
                                            Este campo es <strong>obligatorio</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-raised-button color="accent" matStepperPrevious>Anterior</button>
                            <button mat-raised-button color="primary" matStepperNext>Siguiente</button>
                        </mat-card-actions>
                    </mat-card>
                </form>
              </mat-step>
              <mat-step [stepControl]="FamilyFormGroup">
                <form [formGroup]="FamilyFormGroup">
                  <ng-template matStepLabel>Familiares</ng-template>
                  <mat-card>
                    <mat-card-header></mat-card-header>
                    <mat-card-content style="padding: 10px;">
                        <div class="row">
                            <div class="col-md-4">
                                <mat-form-field class="full-width">
                                    <mat-select placeholder="Relación" formControlName="FrelationType">
                                        <mat-option *ngFor="let dt of familyRelationList" [value]="dt.id">
                                            {{dt.paramValue}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error>
                                        Este campo es <strong>obligatorio</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field class="full-width">
                                    <mat-select placeholder="Tipo de documento" formControlName="FdocumentTypeId">
                                        <mat-option *ngFor="let dt of documentTypeList" [value]="dt.id">
                                            {{dt.name}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error>
                                        Este campo es <strong>obligatorio</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field class="full-width">
                                    <input matInput placeholder="Nro. Documento" name="FdocumentNumber" 
                                    formControlName="FdocumentNumber">
                                    <mat-error>
                                        Este campo es <strong>obligatorio</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <mat-form-field class="full-width">
                                    <input matInput placeholder="Primer nombre" name="FfirstName" 
                                    formControlName="FfirstName">
                                    <mat-error>
                                        Este campo es <strong>obligatorio</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field class="full-width">
                                    <input matInput placeholder="Otros nombres" name="FotherNames" 
                                    formControlName="FotherNames">
                                    <mat-error>
                                        Este campo es <strong>obligatorio</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field class="full-width">
                                    <input matInput placeholder="Apellido" formControlName="FlastName" 
                                    name="FlastName">
                                    <mat-error>
                                        Este campo es <strong>obligatorio</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field class="full-width">
                                    <input matInput placeholder="Otros apellidos" formControlName="FotherLastNames" 
                                    name="FotherLastNames">
                                    <mat-error>
                                        Este campo es <strong>obligatorio</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-raised-button color="accent" matStepperPrevious>Anterior</button>
                        <button mat-raised-button color="primary" matStepperNext>Siguiente</button>
                    </mat-card-actions>  
                  </mat-card>
                </form>
              </mat-step>
              <mat-step  [stepControl]="PhotoFormGroup">
                <form [formGroup]="PhotoFormGroup" (ngSubmit)="Create()">
                    <ng-template matStepLabel>Foto</ng-template>
                    <mat-card>
                        <mat-card-header></mat-card-header>
                        <mat-card-content>
                            <div class="row">
                                <h3>Recomendaciones de la foto a cargar:</h3>
                                <ul>
                                    <li>La imagen debe estar en formato JPG y puede tener una relsolución de 300 x 300 a 600 x 600. La resolución preferida es 500 x 500.</li>
                                    <li>Por favor asegurese que solo exista un rosto en la imagen</li>
                                    <li>Ambos ojos deben estar abiertos con una expresión natural. La frente y la cara deben estar expuestas, evitando que el cabello las cubra.</li>
                                    <li>No debe tener elemento que bloqueen el rosto (como a sombreos, mascaras faciales o anteojos).</li>
                                    <li>Use preferiblemente una foto con fondo blanco</li>
                                </ul>
                            </div>
                            <div class="row">
                                <!--video carga imagen: https://www.google.com/search?q=image+upload+angular+material&rlz=1C1ONGR_esCO1024CO1024&sxsrf=AJOqlzUan3raRtHV7QJMdFwwWHMhRe0RIA:1676121647295&source=lnms&tbm=vid&sa=X&ved=2ahUKEwjMqozbx439AhUqSzABHSm0BQQQ_AUoAnoECAEQBA&biw=1280&bih=649&dpr=2#fpstate=ive&vld=cid:d5dc1c11,vid:YkvqLNcJz3Y-->  
                                <input type="file" placeholder="Seleccione una foto" name="FotherLastNames">
                            </div>
                            <div class="row center">
                                <img src="../assets/images/Face1.jpg" style="width: 150px !important; height: 160px !important;"/>
                            </div>           
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-raised-button color="warn" (click)="stepper.reset()">Reiniciar</button>
                            <button mat-raised-button color="accent" matStepperPrevious>Anterior</button>
                            <button mat-raised-button color="primary">Guardar</button>
                        </mat-card-actions>
                    </mat-card>
                  </form>
              </mat-step>
        </mat-stepper>
    </div>
</div>
