<div class="container">
    <div class="row">
        <h1>Centros de formación</h1> 
        <div class="line"></div>
    </div>
    <div class="row">
      <div class="col-sm">
        <mat-form-field>
            <mat-label>Buscar centro</mat-label>
            <input #tableFilter (keyup)="applyFilter(tableFilter.value)" matInput placeholder="" />
        </mat-form-field>
      </div>
      <div class="col-sm" style="text-align: right;">
        <button mat-raised-button color="primary" [routerLink]="['TrainingCentersCreate']">Adicionar centro</button>
      </div>
    </div>
    <div class="row">
        <div class="mat-elevation-z8">
            <table #table mat-table [dataSource]="dataSource" class="mat-e">
                <ng-container matColumnDef="Code">
                  <th mat-header-cell *matHeaderCellDef> Código </th>
                  <td mat-cell *matCellDef="let element"> {{element.Code}} </td>
                </ng-container>
                <ng-container matColumnDef="Name">
                    <th mat-header-cell *matHeaderCellDef> Nombre </th>
                    <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
                </ng-container>

                <ng-container matColumnDef="Update">
                  <th mat-header-cell *matHeaderCellDef> </th>
                  <td mat-cell *matCellDef="let element">
                    <!--<a href="/UpdateUser?user={{element.Id}}">Actualizar</a>-->
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator #paginator
                         [pageSize]="5"
                         [pageSizeOptions]="[5, 10, 15, 20]"
                         [showFirstLastButtons]="true">
            </mat-paginator>
        </div>        
    </div>
</div>
