<div class="container pageContainer">
    <br />
    <div class="row">
        <div class="col-sm-6">
            <img src="../../assets/images/Logo_Baloo.png" width="60%">
            <img src="../../assets/images/Mesa de trabajo 9.png" width="60%">
        </div>
        <div class="col-sm-6">
            <form  (ngSubmit)="LoginForm.valid && login()" [formGroup]="LoginForm">
                <mat-card>
                    <mat-card-content>
                        <div class="row">
                            <div class="col-sm-12" style="text-align: center;">
                                <label>Usuario: </label>
                                <br />
                                <mat-form-field appearance="outline">
                                    <input matInput type="text" placeholder="Username" maxlength="150"  maxlength="150" formControlName="User">
                                    <button mat-icon-button matSuffix >
                                        <mat-icon></mat-icon>
                                    </button>
                                    <mat-error>
                                        Este campo es <strong>obligatorio</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12" style="text-align: center;">
                                <label>Contraseña: </label>
                                <br />
                                <mat-form-field appearance="outline">
                                    <input matInput [type]="hide ? 'password' : 'text'" placeholder="Abc+90de" maxlength="150"  formControlName="UserPassword">
                                    <button mat-icon-button matSuffix (click)="hide = !hide">
                                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                                    <mat-error>
                                        Este campo es <strong>obligatorio</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12" style="text-align: center !important;">
                                <a routerLink="/Recover">Recuperar contraseña</a>
                            </div>
                        </div>
                    </mat-card-content>
                    <mat-card-actions>
                        <div class="row">
                            <div class="col-sm-12" style="text-align: center !important;">
                                <button style="width: 100px;" mat-raised-button color="primary" type="submit">Login</button>
                            </div>
                        </div>
                    </mat-card-actions>
                </mat-card>
            </form>
        </div>  
    </div> 
</div>
