<div class="title">
    <h1>Cambio contraseña</h1>
    <div class="line">
    </div>
</div>
<div class="custom-form">
    <form  (ngSubmit)="PasswordForm.valid && changePassword()" [formGroup]="PasswordForm">
            <label>Contraseña: </label>
            <mat-form-field appearance="outline">
                <input matInput [type]="hide ? 'password' : 'text'" placeholder="Abc+90de" maxlength="150"  formControlName="PasswordUser" required>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                <mat-hint align="start"><strong>Caracteres</strong> </mat-hint>
                <mat-error>
                    Este campo es <strong>obligatorio</strong>
                </mat-error>
            </mat-form-field>  
            <br>
            <label>Confirmar contraseña </label>
            <mat-form-field appearance="outline">
                <input matInput type="password" [type]="hidetwo ? 'password' : 'text'" placeholder="Abc+90de" maxlength="150"  formControlName="ConfirmPass">
                <button mat-icon-button matSuffix (click)="hidetwo = !hidetwo" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hidetwo ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                <mat-hint align="start"><strong>Caracteres</strong> </mat-hint>
                <mat-error>
                    Este campo es <strong>obligatorio</strong>
                </mat-error>
            </mat-form-field> 
            <br>
            <button mat-raised-button color="primary" type="submit">Cambiar contraseña</button>
    </form>
</div>