<div class="container pageContainer">
    <div class="row">
        <form  (ngSubmit)="AddUsers.valid && validateDocument(AddUsers.value)" [formGroup]="AddUsers">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Registro Usuario</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field class="full-width">
                                    <input matInput type="text" placeholder="Primer Nombre" maxlength="150" formControlName="FirstName">
                                    <mat-hint align="start"><strong>Caracteres</strong> </mat-hint>
                                    <mat-hint align="end">{{AddUsers.value['FirstName'].length}} / 150</mat-hint>
                                    <mat-error>
                                        Este campo es <strong>obligatorio</strong>
                                    </mat-error>
                                </mat-form-field>   
                            </div>
                            <div class="col-md-6">
                                <mat-form-field class="full-width">
                                    <input matInput type="text" placeholder="Segundo Nombre" maxlength="300" formControlName="OtherNames">
                                    <mat-hint align="start"><strong>Caracteres</strong> </mat-hint>
                                    <mat-hint align="end">{{AddUsers.value['OtherNames'].length}} / 300</mat-hint>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field class="full-width">
                                    <input matInput type="text" placeholder="Primer Apellido" maxlength="150" formControlName="LastName">
                                    <mat-hint align="start"><strong>Caracteres</strong> </mat-hint>
                                    <mat-hint align="end">{{AddUsers.value['LastName'].length}} / 150</mat-hint>
                                    <mat-error>
                                        Este campo es <strong>obligatorio</strong>
                                    </mat-error>
                                </mat-form-field>  
                            </div>
                            <div class="col-md-6">
                                <mat-form-field class="full-width">
                                    <input matInput type="text" placeholder="Segundo Apellido" maxlength="300" formControlName="OtherLastName">
                                    <mat-hint align="start"><strong>Caracteres</strong> </mat-hint>
                                    <mat-hint align="end">{{AddUsers.value['OtherLastName'].length}} / 300</mat-hint>
                                </mat-form-field>   
                            </div>   
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field class="full-width">
                                    <input matInput type="email" placeholder="Correo electronico:" maxlength="300" formControlName="Email"  (keyup)="ChangeInputUser()">
                                    <mat-hint align="start"><strong>Caracteres</strong> </mat-hint>
                                    <mat-hint align="end">{{AddUsers.value['Email'].length}} / 300</mat-hint>
                                    <mat-error>
                                        Es requerido un <strong>correo electronico</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field class="full-width">
                                    <input matInput type="text" placeholder="Usuario" maxlength="300" formControlName="UserName" >
                                    <mat-hint align="start"><strong>Caracteres</strong> </mat-hint>
                                    <mat-hint align="end">{{AddUsers.value['UserName'].length}} / 300</mat-hint>
                                    <mat-error>
                                        Se requiere un nombre de <strong>Usuario</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field class="full-width">
                                    <input matInput type="text" placeholder="Telefono" maxlength="150" formControlName="Phone" >
                                    <mat-hint align="start"><strong>Caracteres</strong> </mat-hint>
                                    <mat-hint align="end">{{AddUsers.value['Phone'].length}} / 150</mat-hint>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <mat-slide-toggle placeholder="Es usuario global" formControlName="GlobalUser">
                                <span *ngIf="AddUsers.value['GlobalUser']; else inactivo">Usuario global Activo</span>
                                <ng-template #inactivo><span>Usuario global Inactivo</span></ng-template>
                            </mat-slide-toggle>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field class="full-width">
                                    <mat-select placeholder="Tipo documento" formControlName="DocumentTypeId">
                                    <mat-option *ngFor="let tido of documents" [value]="tido.id">
                                        {{tido.name}}
                                    </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field class="full-width">
                                    <input matInput type="text" placeholder="Numero de documento" maxlength="150" formControlName="DocumentNo" >
                                    <mat-hint align="start"><strong>Caracteres</strong> </mat-hint>
                                    <mat-hint align="end">{{AddUsers.value['DocumentNo'].length}} / 150</mat-hint>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field class="full-width">
                                    <mat-select [required]="!AddUsers.value['GlobalUser']" placeholder="Centro de formación" formControlName="TrainingCenterId" (selectionChange)="Campus(AddUsers.value['TrainingCenterId'])">
                                    <mat-option *ngFor="let tido of trainingcenter" [value]="tido.id">
                                        {{tido.name}}
                                    </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field class="full-width">
                                    <mat-select placeholder="Sede" [required]="!AddUsers.value['GlobalUser']" [disabled]="AddUsers.value['TrainingCenterId'].length == 0" multiple formControlName="CampusId">
                                    <mat-option *ngFor="let tido of campus" [value]="tido.id">
                                        {{tido.name}}
                                    </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <mat-form-field class="full-width">
                                <mat-select placeholder="Rol" multiple formControlName="RolsId">
                                <mat-option *ngFor="let tido of rols" [value]="tido.id">
                                    {{tido.name}}
                                </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-raised-button color="primary" type="submit">Guardar</button>
                        <button mat-raised-button class="lightBlue-bkg" [routerLink]="['/UsersList']">Cancelar</button>
                    </mat-card-actions>
                </mat-card>
        </form>
    </div>
</div>

