<div class="container">
    <div class="row">
        <h1>Días laborales y festivos</h1> 
        <div class="line"></div>
    </div>
    <div class="row">
      <div class="col-sm">
        <mat-form-field>
            <mat-label>Filtrar usuario</mat-label>
            <input #tableFilter (keyup)="applyFilter(tableFilter.value)" matInput placeholder="Input" />
        </mat-form-field>
      </div>
      <div class="col-sm" style="text-align: right;">
        <button mat-raised-button color="primary" [routerLink]="['/HolidaysCreate']">Configurar año</button>
      </div>
    </div>
    <div class="row">
        <div class="mat-elevation-z8">
            <table #table mat-table [dataSource]="dataSource" class="mat-e">
                <ng-container matColumnDef="Year">
                  <th mat-header-cell *matHeaderCellDef> Año </th>
                  <td mat-cell *matCellDef="let element"> {{element.year}} </td>
                </ng-container>
                <ng-container matColumnDef="Monday">
                  <th mat-header-cell *matHeaderCellDef> Lunes </th>
                  <td mat-cell *matCellDef="let element">
                    <span *ngIf="element.monday">Sí</span> 
                  </td>
                </ng-container>
                <ng-container matColumnDef="Tuesday">
                  <th mat-header-cell *matHeaderCellDef> Martes </th>
                  <td mat-cell *matCellDef="let element">
                    <span *ngIf="element.tuesday">Sí</span>
                  </td>
                </ng-container>
                <ng-container matColumnDef="Wednesday">
                  <th mat-header-cell *matHeaderCellDef> Miércoles </th>
                  <td mat-cell *matCellDef="let element">
                    <span *ngIf="element.wednesday">Sí</span>
                  </td>
                </ng-container>
                <ng-container matColumnDef="Thursday">
                  <th mat-header-cell *matHeaderCellDef> Jueves </th>
                  <td mat-cell *matCellDef="let element"> 
                    <span *ngIf="element.thursday">Sí</span>
                  </td>
                </ng-container>
                <ng-container matColumnDef="Friday">
                  <th mat-header-cell *matHeaderCellDef> Viernes </th>
                  <td mat-cell *matCellDef="let element">
                    <span *ngIf="element.friday">Sí</span>
                  </td>
                </ng-container>
                <ng-container matColumnDef="Saturday">
                  <th mat-header-cell *matHeaderCellDef> Sábado </th>
                  <td mat-cell *matCellDef="let element">
                    <span *ngIf="element.saturday">Sí</span>
                  </td>
                </ng-container>
                <ng-container matColumnDef="Sunday">
                  <th mat-header-cell *matHeaderCellDef> Domingo </th>
                  <td mat-cell *matCellDef="let element">
                    <span *ngIf="element.sunday">Sí</span>
                  </td>
                </ng-container>
                <ng-container matColumnDef="actions">
                  <th mat-header-cell style="text-align: right" *matHeaderCellDef>Acciones</th>
                  <td mat-cell style="text-align: right" *matCellDef="let element">
                    <button mat-icon-button color="warn" (click)="onDelete(element.year)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator #paginator
                         [pageSize]="5"
                         [pageSizeOptions]="[5, 10, 15, 20]"
                         [showFirstLastButtons]="true">
            </mat-paginator>
        </div>        
    </div>
</div>
