<mat-drawer-container class="app-container lightGary-bkg" autosize>
<mat-toolbar color="primary" style=" position: sticky; top: 0px; z-index:1">
    <section *ngIf="login == true" >
        <button mat-button (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
    </section>
    <mat-menu #menu="matMenu"> 
    </mat-menu>
    <img width="170" height="50" src="../assets/images/Logo.png">
    <span class="spacer"></span>
    <p>{{user}}</p>
</mat-toolbar>
<mat-drawer  #drawer class="app-sidenav" mode="side">
    <button  mat-menu-item routerLink="Inicio" (click)="drawer.toggle()">Inicio</button>
    <div *ngFor="let item of items">
        <button mat-menu-item routerLink={{item.route}} (click)="drawer.toggle()">{{item.menuLabel}}</button>
    </div>
    <button *ngIf="login == true" mat-menu-item (click)="logOut()">Salir</button>
</mat-drawer>

<router-outlet></router-outlet>
</mat-drawer-container>
