<div class="container pageContainer">
  <div class="row">
      <mat-stepper [linear]="isLinear" #stepper>
          <mat-step [stepControl]="GeneralInformationFormGroup">
              <form [formGroup]="GeneralInformationFormGroup">
                  <ng-template matStepLabel>Información general</ng-template>
                  <mat-card>
                      <mat-card-header></mat-card-header>
                      <mat-card-content style="padding: 10px;">
                          <div class="row">
                              <div class="col-md-4">
                                  <mat-form-field class="full-width">
                                      <mat-select placeholder="Tipo de documento" formControlName="DocumentTypeId" (selectionChange)="validateDoc($event)">
                                          <mat-option *ngFor="let dt of documentTypeList" [value]="dt.id">
                                              {{dt.name}}
                                          </mat-option>
                                      </mat-select>
                                      <mat-error>
                                          Este campo es <strong>obligatorio</strong>
                                      </mat-error>
                                  </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                  <mat-form-field class="full-width">
                                      <input matInput placeholder="Nro. Documento" name="DocumentNumber"
                                          formControlName="DocumentNumber">
                                      <mat-error>
                                          Este campo es <strong>obligatorio</strong>
                                      </mat-error>
                                  </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                  <mat-form-field class="full-width">
                                      <input matInput placeholder="Teléfono de Emergencia" name="EmergencyPhoneNumber"
                                          formControlName="EmergencyPhoneNumber">
                                      <mat-error>
                                          Este campo es <strong>obligatorio</strong>
                                      </mat-error>
                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-3">
                                  <mat-form-field class="full-width">
                                      <input matInput placeholder="Primer nombre" name="FirstName"
                                          formControlName="FirstName">
                                      <mat-error>
                                          Este campo es <strong>obligatorio</strong>
                                      </mat-error>
                                  </mat-form-field>
                              </div>
                              <div class="col-md-3">
                                  <mat-form-field class="full-width">
                                      <input matInput placeholder="Otros nombres" name="OtherNames"
                                          formControlName="OtherNames">
                                      <mat-error>
                                          Este campo es <strong>obligatorio</strong>
                                      </mat-error>
                                  </mat-form-field>
                              </div>
                              <div class="col-md-3">
                                  <mat-form-field class="full-width">
                                      <input matInput placeholder="Apellido" formControlName="LastName"
                                          name="LastName">
                                      <mat-error>
                                          Este campo es <strong>obligatorio</strong>
                                      </mat-error>
                                  </mat-form-field>
                              </div>
                              <div class="col-md-3">
                                  <mat-form-field class="full-width">
                                      <input matInput placeholder="Otros apellidos" formControlName="OtherLastName"
                                          name="OtherLastName">
                                      <mat-error>
                                          Este campo es <strong>obligatorio</strong>
                                      </mat-error>
                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-3">
                                  <mat-form-field class="full-width">
                                      <mat-select placeholder="Sexo" formControlName="GenderId">
                                          <mat-option *ngFor="let g of genderList" [value]="g.id">
                                              {{g.paramValue}}
                                          </mat-option>
                                      </mat-select>
                                      <mat-error>
                                          Este campo es <strong>obligatorio</strong>
                                      </mat-error>
                                  </mat-form-field>
                              </div>
                              <div class="col-md-5">
                                  <mat-form-field class="full-width">
                                      <input matInput [matDatepicker]="picker" formControlName="BirthDate"
                                          placeholder="Fecha de nacimiento">
                                      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                      <mat-hint>MM/DD/YYYY</mat-hint>
                                      <mat-datepicker #picker></mat-datepicker>
                                      <mat-error>
                                          Este campo es <strong>obligatorio</strong>
                                      </mat-error>
                                  </mat-form-field>
                              </div>
                              <div class="col-md-2">
                                  <mat-form-field class="full-width">
                                      <mat-select placeholder="Grupo sanguineo" formControlName="BloodTypeId">
                                          <mat-option *ngFor="let bt of bloodTypeList" [value]="bt.id">
                                              {{bt.paramValue}}
                                          </mat-option>
                                      </mat-select>
                                      <mat-error>
                                          Este campo es <strong>obligatorio</strong>
                                      </mat-error>
                                  </mat-form-field>
                              </div>
                              <div class="col-md-2">
                                  <mat-form-field class="full-width">
                                      <mat-select placeholder="RH" formControlName="RhId">
                                          <mat-option *ngFor="let rh of rhList" [value]="rh.id">
                                              {{rh.paramValue}}
                                          </mat-option>
                                      </mat-select>
                                      <mat-error>
                                          Este campo es <strong>obligatorio</strong>
                                      </mat-error>
                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-4">
                                  <mat-form-field class="full-width">
                                      <mat-select placeholder="País de nacimiento"
                                          (selectionChange)="CountrySelected($event)"
                                          formControlName="BirthCountryId">
                                          <mat-option *ngFor="let c of countryList" [value]="c.id">
                                              {{c.name}}
                                          </mat-option>
                                      </mat-select>
                                      <mat-error>
                                          Este campo es <strong>obligatorio</strong>
                                      </mat-error>
                                  </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                  <mat-form-field class="full-width">
                                      <mat-select placeholder="Departamento de nacimiento"
                                          (selectionChange)="DepartamentSelected($event)"
                                          formControlName="BirthDepartmentId">
                                          <mat-option *ngFor="let d of departmentList" [value]="d.id">
                                              {{d.name}}
                                          </mat-option>
                                      </mat-select>
                                      <mat-error>
                                          Este campo es <strong>obligatorio</strong>
                                      </mat-error>
                                  </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                  <mat-form-field class="full-width">
                                      <mat-select placeholder="Municipio de nacimiento" formControlName="BirthCityId">
                                          <mat-option *ngFor="let c of cityList" [value]="c.id">
                                              {{c.name}}
                                          </mat-option>
                                      </mat-select>
                                      <mat-error>
                                          Este campo es <strong>obligatorio</strong>
                                      </mat-error>
                                  </mat-form-field>
                              </div>
                          </div>
                      </mat-card-content>
                      <mat-card-actions>
                          <button mat-raised-button color="primary" matStepperNext>Siguiente</button>
                      </mat-card-actions>
                  </mat-card>
              </form>
          </mat-step>
          <mat-step [stepControl]="HomeFormGroup">
              <form [formGroup]="HomeFormGroup">
                  <ng-template matStepLabel>Información de residencia</ng-template>
                  <mat-card>
                      <mat-card-header></mat-card-header>
                      <mat-card-content style="padding: 10px;">
                          <div class="row">
                              <div class="col-md-4">
                                  <mat-form-field class="full-width">
                                      <mat-select placeholder="Zona" formControlName="AdressZoneId">
                                          <mat-option *ngFor="let c of zoneList" [value]="c.id">
                                              {{c.paramValue}}
                                          </mat-option>
                                      </mat-select>
                                      <mat-error>
                                          Este campo es <strong>obligatorio</strong>
                                      </mat-error>
                                  </mat-form-field>
                              </div>
                              <div class="col-md-8">
                                  <mat-form-field class="full-width">
                                      <input matInput placeholder="Dirección" name="Adress" formControlName="Adress">
                                      <mat-error>
                                          Este campo es <strong>obligatorio</strong>
                                      </mat-error>
                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-4">
                                  <mat-form-field class="full-width">
                                      <input matInput placeholder="Barrio" name="Neighborhood"
                                          formControlName="Neighborhood">
                                      <mat-error>
                                          Este campo es <strong>obligatorio</strong>
                                      </mat-error>
                                  </mat-form-field>
                              </div>
                              <div class="col-md-8">
                                  <mat-form-field class="full-width">
                                      <textarea matInput placeholder="Observaciones" name="AdressObservations"
                                          formControlName="AdressObservations"></textarea>
                                      <mat-error>
                                          Este campo es <strong>obligatorio</strong>
                                      </mat-error>
                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-4">
                                  <mat-form-field class="full-width">
                                      <input matInput placeholder="Teléfono" name="AdressPhoneNumber"
                                          formControlName="AdressPhoneNumber">
                                      <mat-error>
                                          Este campo es <strong>obligatorio</strong>
                                      </mat-error>
                                  </mat-form-field>
                              </div>
                          </div>
                      </mat-card-content>
                      <mat-card-actions>
                          <button mat-raised-button class="lightBlue-bkg" matStepperPrevious>Anterior</button>
                          <button mat-raised-button color="primary" matStepperNext>Siguiente</button>
                      </mat-card-actions>
                  </mat-card>
              </form>
          </mat-step>
          <mat-step [stepControl]="family">
              <form [formGroup]="familyForm" (ngSubmit)="Update()">
                  <ng-container formArrayName="family">
                      <mat-card>
                          <div
                              *ngIf="familyForm.get('family')?.invalid && familyForm.get('family')?.errors?.['required']">
                              <br>
                              <mat-error>
                                  Debes agregar al menos un miembro de familia <strong>obligatorio</strong>
                              </mat-error>
                          </div>
                          <div *ngFor="let familyMember of family.controls; let i=index" [formGroupName]="i">
                              <ng-template matStepLabel>Familiares</ng-template>

                              <mat-card-header></mat-card-header>
                              <mat-card-content style="padding: 10px;">
                                  <div class="row">
                                      <div class="col-md-4">
                                          <mat-form-field class="full-width">
                                              <mat-select placeholder="Relación" formControlName="FamilyRelation" (selectionChange)="onFamilyRelationSelected($event)">
                                                  <mat-option *ngFor="let dt of familyRelationList" [value]="dt.id">
                                                      {{dt.paramValue}}
                                                  </mat-option>
                                              </mat-select>
                                              <mat-error *ngIf="familyForm.get('family')?.get(i.toString())?.get('FamilyRelation')?.hasError('required')">
                                                  Este campo es <strong>obligatorio</strong>
                                                </mat-error>
                                                <mat-error *ngIf="familyForm.get('family')?.get(i.toString())?.get('FamilyRelation')?.hasError('duplicate')">
                                                  Esta relación ya ha sido seleccionada
                                                </mat-error>
                                          </mat-form-field>
                                      </div>
                                      <div class="col-md-4">
                                          <mat-form-field class="full-width">
                                              <mat-select placeholder="Tipo de documento"
                                                  formControlName="DocumentTypeId">
                                                  <mat-option *ngFor="let dt of documentTypeList" [value]="dt.id">
                                                      {{dt.name}}
                                                  </mat-option>
                                              </mat-select>
                                              <mat-error>
                                                  Este campo es <strong>obligatorio</strong>
                                              </mat-error>
                                          </mat-form-field>
                                      </div>
                                      <div class="col-md-4">
                                          <mat-form-field class="full-width">
                                              <input matInput placeholder="Nro. Documento" name="DocumentNumber"
                                                  formControlName="DocumentNumber">
                                              <mat-error>
                                                  Este campo es <strong>obligatorio</strong>
                                              </mat-error>
                                          </mat-form-field>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="col-md-3">
                                          <mat-form-field class="full-width">
                                              <input matInput placeholder="Primer nombre" name="FirstName"
                                                  formControlName="FirstName">
                                              <mat-error>
                                                  Este campo es <strong>obligatorio</strong>
                                              </mat-error>
                                          </mat-form-field>
                                      </div>
                                      <div class="col-md-3">
                                          <mat-form-field class="full-width">
                                              <input matInput placeholder="Otros nombres" name="OtherNames"
                                                  formControlName="OtherNames">
                                              <mat-error>
                                                  Este campo es <strong>obligatorio</strong>
                                              </mat-error>
                                          </mat-form-field>
                                      </div>
                                      <div class="col-md-3">
                                          <mat-form-field class="full-width">
                                              <input matInput placeholder="Apellido" formControlName="LastName"
                                                  name="LastName">
                                              <mat-error>
                                                  Este campo es <strong>obligatorio</strong>
                                              </mat-error>
                                          </mat-form-field>
                                      </div>
                                      <div class="col-md-3">
                                          <mat-form-field class="full-width">
                                              <input matInput placeholder="Otros apellidos"
                                                  formControlName="OtherLastName" name="OtherLastName">
                                              <mat-error>
                                                  Este campo es <strong>obligatorio</strong>
                                              </mat-error>
                                          </mat-form-field>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <mat-slide-toggle
                                          formControlName="Attendant">
                                          <span *ngIf="familyMember.value; else inactivo">Es acudiente</span>
                                          <ng-template #inactivo><span>No es acudiente</span></ng-template>
                                      </mat-slide-toggle>
                                  </div>
                                  <div class="row">
                                      <div class="col-sm-12" style="text-align: right;"  *ngIf="family.controls.length > 1">
                                          <button mat-raised-button color="warn"
                                              (click)="removeFamilyMember(i)">Eliminar</button>
                                      </div>
                                  </div>
                              </mat-card-content>

                          </div>
                          <mat-card-actions>
                              <div class="col-sm" style="text-align: right;" *ngIf="familyForm.get('family')?.valid && family.controls.length < familyRelationList.length">
                                  <button mat-raised-button color="accent" (click)="addFamilyMember()">Agregar
                                      familiar</button>
                              </div>
                          </mat-card-actions>
                          <mat-card-actions>
                            <button mat-raised-button color="warn" (click)="stepper.reset()">Reiniciar</button>
                            <button mat-raised-button class="lightBlue-bkg" matStepperPrevious>Anterior</button>
                            <button mat-raised-button color="primary">Guardar</button>
                          </mat-card-actions>
                      </mat-card>
                  </ng-container>
              </form>
          </mat-step>
      </mat-stepper>
  </div>
</div>
