<div class="center">
    <h1>Baloo</h1>
</div>
<div class="custom-form">
    <form  (ngSubmit)="LoginForm.valid && loginCaptchat()" [formGroup]="LoginForm">
            <label>Usuario: </label>
            <mat-form-field appearance="outline">
                    <input matInput type="text" placeholder="Username" maxlength="150"  maxlength="150" formControlName="User">
                    <button mat-icon-button matSuffix >
                        <mat-icon></mat-icon>
                    </button>
                    <mat-error>
                        Este campo es <strong>obligatorio</strong>
                    </mat-error>
            </mat-form-field>
            <br>
            <label>Contraseña: </label>
            <mat-form-field appearance="outline">
                <input matInput [type]="hide ? 'password' : 'text'" placeholder="Abc+90de" maxlength="150"  formControlName="UserPassword">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                <mat-error>
                    Este campo es <strong>obligatorio</strong>
                </mat-error>
            </mat-form-field>
            <br>
            <a style="position: relative" routerLink="/Recover">Recuperar contraseña</a>
            <br>  
            <br>
            <re-captcha style="display: inline-block;" (resolved)="resolved($event)" siteKey="6LeCH8kfAAAAACqZeDLt9WRs-qXKFk3X9ZHuIWi1"></re-captcha>
            <br>
            <button mat-raised-button disabled="{{!loginbutton}}" color="primary" type="submit">Iniciar sesión</button>            
    </form>
</div>
